*{
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
     margin: 0;padding: 0;
     position: relative;
     
/* animation: content_reveal 0.35s ease-in; */

}


nav{
    z-index: 1;
    background-color:#1a1a2e; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.navbar{
    padding: 10px 15%;
}

.navbar-brand{

font-family: Merienda One, cursive;
font-size: xx-large;
text-decoration: none;
}


.nav-link{

     text-decoration: none;
     font-family: Ubuntu, sans-serif;
     font-size: x-large;
    
}


.social-icons{
    margin-top: 12%;
}
nav .nav-link:hover{

    color: #e94560;

   
}

.Profile{
   
height: 100%;
    padding-top: 60px;
   display: grid;
   grid-template-columns: auto auto ;
  
    background-color: #1a1a2e;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    
    
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
#profile-img{
width: 100%;
height: auto;

}
.profile-img figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0f3460;
    font-family: Merienda One,cursive;
}
#profile-intro{
display:flex;
justify-content:left;
align-items: center;
    padding: 5%;
  

}
.profile-intro{
    color:whitesmoke;
    font-size: 6vh;
    font-family: Ubuntu,sans-serif;
}


#services{
    padding-top: 80px; 
    width: 100%;
    height: auto;
    display: grid;

    grid-template-columns: auto auto auto auto;
   
     background-color:#1a1a2e;
     
}

#services  h1,#projects  h1{
    color: #e94560;
    font-family:  Merienda One;
    margin: 30px 0 50px;
}

.services-cards{
    /* width: 33%; */
    /* height: 50%; */
    margin: 15px 0;
    padding:2.5%;
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-left:5px solid #e94560 ;
}
.services-cards:hover{
    background-color:#e94560;
    color: whitesmoke;

}
.services-cards:hover .service-icons{
 
    color: whitesmoke;

}
.services-cards .service-icons{
    color: #e94560;

}

.service-h3{
    color: white;
    margin: 20px 0 30px;
    font-family: Ubuntu;
}


#projects{

    padding-top: 100px; 
    height: auto;
     width: 100%;
     background-color:#1a1a2e;
     
   

}
#projects h1{
    margin-bottom: 30px;
}

#projects main{
    margin: 0;
   
}

#projects main  img{
    width: 100%;
    height: auto;
}
#projects main div{
    padding:30px 40px ;
}


figcaption{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
figcaption h4{
    font-family: Merienda One ,cursive;
}



.footer{
    padding: 5%;
    padding-bottom: 2%;
    width: 100%;
    height: 50%;
    background-color:#1a1a2e;
    text-align: center;

}
.footer .icons a{
    margin: 7px;
    
}
.footer .icons a:hover{
   color: #e94560;
}







@keyframes content_reveal{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@media screen and (max-width:970px){
    .navbar{
        padding:10px  5%;
    }
    .social-icons{
        margin-top: 0;
    }
    .Profile{
        height: auto;
        padding-top:100px;
    }
    .footer{
        height: auto;
    }
    
   
   
}

